@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');
*{
   margin: 0;
   padding: 0;
}
*,*::before,*::after{
   box-sizing: border-box;
}

:root{
   
   --Primary-Nutmeg: hsl(14, 45%, 36%);
   --Primary-Dark-Raspberry: hsl(332, 51%, 32%);
   --Nuetral-White: hsl(0, 0%, 100%);
   --Nuetral-Rose-White: hsl(330, 100%, 98%);
   --Nuetral-Eggshell: hsl(30, 54%, 90%);
   --Nuetral-Light-Grey: hsl(30, 18%, 87%);
   --Nuetral-Wenge-Brown: hsl(30, 10%, 34%);
   --Nuetral-Dark-Charcoal: hsl(24, 5%, 18%);
   
   --fw-medium: 400;
   --fw-semi-bold: 600;
   --fw-bold: 700;

}


main{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100dvh;
   background: var(--Nuetral-Eggshell);
   font-family: 'Outfit', sans-serif;
}

.wrapper{
    margin: 1rem auto;
    min-width: 400px;
    width: 45%;
    padding: 2.75em;
    background: var(--Nuetral-White);
    border-radius: 1em;
    color: var(--Nuetral-Wenge-Brown);
}

.wrapper div:not(:last-child){
   margin-bottom: 2rem;
}

.card{
   background:var(--Nuetral-Rose-White);
   border-radius: 1rem; 
   padding: 1rem;
   
   & ul{
      padding-left: 1rem;
   }
}


.container:not(:nth-child(2), :last-child){
   border-bottom: solid 1px var(--Nuetral-Light-Grey) ;
   padding-bottom: 1rem;
}

img{
   display: block;
   margin: auto;
   max-width: 100%;
   margin-bottom: 2rem;
   border-radius: 1em;
}

.wrapper div p{
   margin: 1rem auto;
}


li{
   padding-left: 1em;
   margin: 1rem;
} 
ol li::marker{
   color: var(--Primary-Nutmeg);
   font-weight: var(--fw-semi-bold);
}

#serif{
   font-family: 'Young Serif', serif;
   margin: rem auto;
}
.bold{
   font-weight: var(--fw-bold);
}
h1{
   font-weight: --fw-bold;
   font-size: 2rem;
   color: var(--Nuetral-Dark-Charcoal);
}
h2{
   color: var(--Primary-Nutmeg);
   font-weight:var(--fw-semi-bold);
   font-size: 1.75rem;
}
h3{
   color: var(--Primary-Dark-Raspberry);
}

.content_table{

   border-collapse: collapse;
   width: 100%;
   
   & tr:not(:last-child){
      border-bottom: var(--Nuetral-Light-Grey) solid 1px;
   }
   
}

td:nth-child(odd){
   padding: 1rem;
   padding-bottom: 1rem;
}
td:nth-child(even){
   color: var(--Primary-Nutmeg);

}

@media (min-width: 350px){
   .wrapper{
      margin: 0 auto;
   }
   img{
      width: 100%;
      min-width: 200px;
   }
}
@media (max-width: 1440px) {
   .wrapper{
      margin: 2rem auto;
   }
   
}